@font-face {
  font-family: "Diatype";
  src: url(./fonts/CargoDiatype-Regular.woff2);
}
@font-face {
  font-family: "SFMonoRegular";
  src: url(./fonts/SFMonoRegular.woff);
}
@font-face {
  font-display: block;
  font-family: "Arizona Sans Variable";
  src: url("https://type.cargo.site/files/CargoArizonaPlusVariable.woff2") format("woff2-variations"),
    url("https://type.cargo.site/files/CargoArizonaPlusVariable.woff") format("woff");
  font-style: normal;
  font-weight: 200 700;
  unicode-range: U+0000-DFFF, U+F900-FFFD;
}
@font-face {
  font-display: block;
  font-family: "Arizona Sans Variable";
  src: url("https://type.cargo.site/files/CargoArizonaPlusItalicVariable.woff2") format("woff2-variations"),
    url("https://type.cargo.site/files/CargoArizonaPlusItalicVariable.woff") format("woff");
  font-style: italic;
  font-weight: 200 700;
  unicode-range: U+0000-DFFF, U+F900-FFFD;
}

.icon-link.soundcloud {
  transform: translate(-0.06em, 0.175em);
}



/* my adds */
/* it's too many -content classes, hard to read */
.tab-content {
  border: .2px solid deeppink;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tab-top-content {
  text-align: center;
  margin: auto;
}

.page-content {
  width: 90vw;
}
.page-content h1 {
  display: block;
  font-family: 'Diatype';
  font-size: 196px;
  color: #ff0000;
  margin-top: 0;
}
.page-content > div {
  margin: auto;
}
[data-target="home"] svg {
  margin-right: 10px;
}




/* .home-content is specific to first tab */
.home-content img, h1 {
  display: inline;
}
.home-content img {
  display: inline;
  padding-left: 200px;
  position: relative;
  /* top: 150px; */
}


/* classes to show chosen tab content and hide others */
.invisible {
  display: none;
}
.visible {
  display: block;
}
.sites {
  color: #ff0000;
  font-family: 'SFMonoRegular', monospace;
  font-size: 17px;
}
/* tilt the sites! header */
.tab-top-content h1 {
  color: #ff0000;
  font-size: 216px;
  font-style: italic;
  display: block; /* it won't transform without this*/
}
.sites h1 {
  transform: rotate(-0.01turn) translateX(-120px) scale(125%);

}


/* individual content tab main content (grids e.g.) goes in this */
.content-content {
  display: flex;
  flex-wrap: wrap;
  border: .2px solid black;
  width: 90vw;
  /* min-height: 500px; */
}

.content-card {
  padding: 8px;
  margin: 1em;
  border: 1px solid #ff0000;
  border-radius: 20px;
}
.content-card img {
  padding: 8px;
  border: 1px solid #ff0000;
  width: 28em;
}




/* this div contains .nav-side, .nav, and .nav-side.right  */
[data-id="19147043"] .nav-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;

  /* border: 5px solid green; */
}

.nav-side {
  display: flex;
  align-items: flex-end;
  text-align: left;
  flex: 1;
  margin-left: -2px;
  /* border: solid purple; */
}

.nav-side.right {
  text-align: right;
  align-items: flex-end;
  justify-content: flex-end;
  margin-right: -2px;
  width: 100px;

  /* border: solid blue; */
}

.nav-side a {
  padding: .1rem 0 !important;
  line-height: 1;
  margin: 0;
}
.nav-side a.auth-login {
  display: inline-block;
  padding: 1rem 0 1rem 2rem !important;
  position: relative;
}

.nav-side a.auth-login svg {
  transform: translate(0.1em, 0.6em);
  height: 1.7rem !important;
  /* width: auto !important; */
  display: inline-block;
  line-height: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.social-icons {
  font-size: 1.5rem;
  /* position: relative; */
  width: 5vw;

  /* my adds */
  /* margin-bottom: 50px; */
  /* border: solid black; */
}
.nav-side.social-icons a {
  padding: 0 0 0.75rem 0 !important;
}

.nav {
  --radius1: 5px;
  --radius2: 10px;
  --radius3: 1rem;
  --nav-pad-x: 0.85rem;
  --nav-pad-y: 1.75rem;
  --nav-pad-x-increase: 1.15rem;

  --red: #ff0000;

  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  font-family: "SFMonoRegular", monospace;

  /* my adds */
  margin-top: 5em;
  margin: 0 30vw;

  /* this width forces the width of the .nav-sides.
    i'm not sure why i can't size the .nav-sides by themselves
    but no width / flex-justification for them changes anything */
  width: 700px;
}

.nav a {
  padding: var(--nav-pad-x) var(--nav-pad-y) !important;
  border: 1px solid var(--red);
  border-bottom: 0;
  margin: 0;
  border-radius: var(--radius1) var(--radius1) 0 0;
  line-height: 1;
  position: relative;
  /* my adds */
  text-decoration: none;
  width: fit-content;
  font-size: 13px;
  color: var(--red);
  white-space: nowrap;
}


.bar {
  z-index: 9999;
  border: 1px solid red;
  border-bottom: 0;
  border-radius: 1rem 1rem 0 0;
  height: 1.5rem;
  flex-grow: 1;
  width: 100%;

  /* my adds */
  /* padding: 0 5em; */
  /* margin: 0; */
}

/* my-add */
.nav a.active {
  z-index: 9999;
  background: white;
  border-bottom: none;
  padding: var(--nav-pad-x-increase) var(--nav-pad-y) !important;
  padding-bottom: 50px;
  position: relative;
  /* height: 100%; */
}

body.homepage .nav a[rel="home_page"],
[data-bodyview] .page .nav a.active {
  border-bottom: 0 !important;
  padding: var(--nav-pad-x-increase) var(--nav-pad-y) !important;
  
}

body.homepage .nav a[rel="home_page"]:active,
[data-bodyview] .page .nav a.active:active {
  opacity: 1 !important;
}

body.homepage .nav a[rel="home_page"]:after,
[data-bodyview] .page .nav a.active:after {
  content: "";
  position: absolute;
  bottom: -1px;
  background: white;
  height: 1px;
  right: 0;
  left: 0;
  z-index: 9999;
}

.nav a + a {
  margin-left: -1px !important;
}

/* First Button */
.nav a:first-child {
  border-radius: var(--radius2) var(--radius1) 0 0;
}
.nav a.adjacent-left:first-child {
  border-radius: var(--radius2) 0 0 0 !important;
}
body.homepage .nav a[rel="home_page"]:first-child,
body.homepage .nav a[rel="home_page"].active {
  border-radius: var(--radius2) 0 0 0 !important;
}
body.homepage .nav a[rel="home_page"] + a {
  border-radius: 0 var(--radius1) 0 0 !important;
}

/* last Button */
.nav a:last-child {
  border-radius: var(--radius1) var(--radius2) 0 0 !important;
}
.nav a.active:last-child,
.nav a.adjacent-right:last-child {
  border-radius: 0 var(--radius2) 0 0 !important;
}

/* adjacents */
.nav a.adjacent-left {
  border-radius: var(--radius1) 0 0 0 !important;
}
.nav a.adjacent-right {
  border-radius: 0 var(--radius1) 0 0 !important;
}
.nav a.active {
  border-radius: var(--radius1) var(--radius1) 0 0 !important;
}

.nav .bolt {
  position: absolute;
  left: 0.5rem;
  top: 50%;
  width: auto !important;
  height: 1.6rem;
  transform: translate(50%, -50%);
}

.top-nav {
  --nav-pad-y: 0.25rem;
}

.top-nav .nav a {
  min-width: 11rem !important;
}
